<div class="container-fluid">

    <div class="slider">
      
        <ul>
            <li><img src="/images/bannDos.jpg" alt="banUno"></li>
            <li><img src="/images/bannTres.jpg" alt=""></li>
            <li><img src="/images/bannDos.jpg" alt=""></li>
            <li><img src="/images/bannTres.jpg" alt=""></li>
        </ul>
     
     </div>
         
</div>