<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Order by</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#Price">Price</a>
    <a href="#Size">Size</a>
    <a href="#Gender">Gender</a>
    <a href="#Discount">Discount</a>
  </div>
</div> 

<script>
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
  </script>