<footer>
    <div class="container-fluid">

        <div class="row parent">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-7 col-footer">
                <ul>
                    <li><a href="#">AYUDA</a></li>
                    <li><a href="#">Formas de pago</a></li>
                    <li><a href="#">Cambios y devoluciones</a></li>
                    <li><a href="#">Preguntas generales</a></li>
                    <li><a href="#">Consultas de stock</a></li>
                    <li><a href="#">Costos de envío</a></li>
                 
                </ul>

                <ul>
                    <li><a href="#">CONTACTO</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Locales</a></li>
                    <li><a href="#">MI CUENTA</a></li>
                    <li><a href="#">Registrate</a></li>
                    <li><a href="#">Iniciar Sesión</a></li>
                    
                </ul>

                <ul>
                    <li><a href="#">MAS BUSCADOS</a></li>
                    <li><a href="#">Camisas</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Sweaters</a></li>
                    <li><a href="#">Calzados</a></li>
                    <li><a href="#">Vestidos</a></li>
                    
                </ul>

            </div>
           

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-5 col-suscribe">
                
                
                <form class="form-suscribe" action="/subscribers" method="POST">
                    <label id="leyenda">Suscribite a nuestro Newsletter:</label>
                    <input type="email" name="email" placeholder="E-mail..." aria-label="subscribe">
                    <button type="submit"><i class="fas fa-arrow-circle-right"></i></button>
                </form>

                <div class="row iconos-footer">
                    <a href="#" class="redes"><img src="/images/redes/instagram.png"></a>
                    <a href="#" class="redes"><img src="/images/redes/facebook.png"></a>
                    <a href="#" class="redes"><img src="/images/redes/twitter.png"></a>
                    <a href="#" class="redes"><img src="/images/redes/whatsapp.png"></a>
                    <a href="#" class="redes"><img src="/images/redes/youtube.png"></a>
                 
                </div>
                
            </div>
            
        </div> 

        <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-subfooter">
                <ul>
                    <li><a href="#">Politicas de privacidad |</a></li>
                    <li><a href="#">Términos y condiciones |</a></li>
                    <li><a href="#">Promociones vigentes</a></li>

                </ul>
            </div>
        </div>

            <div class="row">

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-legal">
                    <p>© MANNEKIN SRL // OFFICIAL SITE</p>
                </div>

        </div>
    </div>
</footer>