<footer>

    <div class="container-fluid">

        <div class="row parent">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-7 col-footer">
                <ul>
                    <li><a href="#">AYUDA</a></li>
                    <li><a href="/help/payment">Formas de pago</a></li>
                    <li><a href="/help/returns">Cambios y devoluciones</a></li>
                    <li><a href="/help/privacy">Preguntas generales</a></li>
                    <li><a href="/help/shipping">Envíos</a></li>

                </ul>

                <ul>
                    <li><a href="#">CONTACTO</a></li>
                    <li><a href="/help/contact">Contacto</a></li>
                    <li><a href="/register">MI CUENTA</a></li>
                    <li><a href="/register">Registrate</a></li>
                    <li><a href="/register">Iniciar Sesión</a></li>

                </ul>
             
            </div>


            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-5 col-suscribe">


                <form class="form-suscribe" action="/api/subscribers" method="POST">
                    <label id="leyenda">Suscribite a nuestro Newsletter:</label>
                    <input id="subscribeText" type="email" name="email" placeholder="E-mail..." aria-label="subscribe">
                    <button type="submit" class="subscribeBtn"><i class="fas fa-arrow-circle-right"></i></button>
                </form>
                <div class="row" id="aviso-suscripto">

                </div>
                <div class="row iconos-footer">
                    <a href="#" class="redes"><img src="/images/redes/instagram.png"></a>
                    <a href="#" class="redes"><img src="/images/redes/facebook.png"></a>
                    <a href="#" class="redes"><img src="/images/redes/twitter.png"></a>
                    <a href="#" class="redes"><img src="/images/redes/whatsapp.png"></a>
                    <a href="#" class="redes"><img src="/images/redes/youtube.png"></a>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-subfooter">
                <ul>
                    <li><a href="#">Politicas de privacidad |</a></li>
                    <li><a href="#">Términos y condiciones |</a></li>
                    <li><a href="#">Promociones vigentes</a></li>

                </ul>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-legal">
                <p>© MANNEKIN SRL // OFFICIAL SITE</p>
            </div>

        </div>
    </div>
</footer>

<script>
    window.addEventListener('load', function () {
        var subscribeBtn = document.querySelector(".subscribeBtn")
        var avisoSuscripto = document.getElementById("aviso-suscripto")
        var submitSubsc = subscribeBtn.addEventListener("click", function (e) {
            e.preventDefault();
            var email = document.getElementById("subscribeText").value;
            console.log("Var email: ", email)
            var data = { email: email }
            console.log("Mail Front: ", data)
            if (data != "") {
                fetch('http://localhost:3000/api/subscribers', {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }

                })
                    .then(function (res) {
                        return res.json()
                    })
                    //.catch(error => console.error('Error:', error))
                    .then(function (res) {
                        console.log('Suscrito: ', res)
                        if (res.status == 201) {
                            avisoSuscripto.innerHTML = "¡Se ha suscrito a nuestro email!"
                        } else if (res.status == 403) {
                            avisoSuscripto.innerHTML = "¡El mail ya existe!"
                        }
                    })
            } else {
                avisoSuscripto.innerHTML = "¡Debes completar un mail!"
            }
        })
    })
</script>