<footer>
    <div class="container-fluid">

        <div class="row parent">
            <div class="col-6 col-sm-6 col-md-7 col-lg-7 col-xl-7 col-footer">
                <ul>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                  
                </ul>

                <ul>
                    <li><a href="#">HELP</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    
                </ul>

                <ul>
                    <li><a href="#">INFORMATION</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    
                </ul>

                <ul>
                    <li><a href="#">DELIVERY</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Information</a></li>
                </ul>

            </div>

            <div class="col-6 col-sm-6 col-md-5 col-lg-5 col-xl-5">
                
                <form class="form-suscribe">
                    <label id="leyenda">Suscribite a nuestro Newsletter:</label>
                    <input type="email" placeholder="E-mail..." aria-label="suscribe">
                    <button type="submit"><i class="fas fa-arrow-circle-right"></i></button>
                </form>

                <div class="row iconos-footer">
                    <a href="#" class="redes"><img src="/images/instagram.png"></a>
                    <a href="#" class="redes"><img src="/images/facebook.png"></a>
                    <a href="#" class="redes"><img src="/images/twitter.png"></a>
                    <a href="#" class="redes"><img src="/images/whatsapp.png"></a>
                    <a href="#" class="redes"><img src="/images/youtube.png"></a>
                 
                 </div>
                
            </div>
            
        </div> 

        <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-subfooter">
                <ul>
                    <li><a href="#">Privacy Notice |</a></li>
                    <li><a href="#">Terms of Use |</a></li>
                    <li><a href="#">Cookies Policy</a></li>
                </ul>
            </div>
        </div>

            <div class="row">

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-legal">
                    <p>© MANNEKIN SRL // OFFICIAL SITE</p>
                </div>

        </div>
    </div>
</footer>