  <div id="demo" class="carousel slide" data-ride="carousel"> 

  <!-- Indicators 

     <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    -->

  <!-- The slideshow -->
  <div class="container carousel-inner no-padding">
    <div class="carousel-item active">
      <div class="col-xs-3 col-sm-3 col-md-3">
       <a href="#"> <img src="/images/camisa01.jpg"> </a>
       <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>   
    </div> 
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#"> <img src="/images/camisa02.jpg"> </a>
        <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>
      </div>   
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#"> <img src="/images/camisa03.jpg"> </a>
        <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>
      </div>   
      <div class="col-xs-3 col-sm-3 col-md-3">
       <a href="#">  <img src="/images/camisa04.jpg"> </a>
       <p class="precioItem">Precio</p>
       <p class="descripcionItem">Descripcion</p>
      </div>   

    </div>
    <div class="carousel-item">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#"> <img src="/images/camisa05.jpg"> </a>
        <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>
      </div>    
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#"> <img src="/images/camisa06.jpg"> </a>
        <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>
      </div>   
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#"> <img src="/images/camisa01.jpg"> </a>
        <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>
      </div>   
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#"> <img src="/images/camisa02.jpg"> </a>
        <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>
      </div>  
    </div>
    <div class="carousel-item">
      <div class="col-xs-3 col-sm-3 col-md-3">
         <a href="#"> <img src="/images/camisa03.jpg"> </a>
         <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>
      </div>    
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#"> <img src="/images/camisa04.jpg"> </a>
        <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>
      </div>   
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#"> <img src="/images/camisa05.jpg"> </a>
        <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>
      </div>   
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#"> <img src="/images/camisa06.jpg"> </a>
        <p class="precioItem">Precio</p>
        <p class="descripcionItem">Descripcion</p>
      </div>  
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>