<header>
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-0 col-sm-0 col-md-2 col-lg-4 col-xl-4"></div>
                <div class="col-5 col-sm-5 col-md-5 col-lg-4 col-xl-4 logo">
                    <a class="linkLogo">
                        <img src="/images/logoMannequin.png" alt="logoMannequin">
                    </a>
                </div>
                <div class="col-7 col-sm-7 col-md-5 col-lg-4 col-xl-4 busqueda">
                    <form class=" form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>