<header>
    <div class="container-fluid">
        <div class="row banner-oferta">
            <div class="col-12 texto-oferta">
                <i>6 cuotas sin interes en tus compras superiores a $1500</i>
            </div>
        </div>
        <div class="row row-logo">
            <div class="col-0 col-sm-0 col-md-6 col-lg-4 col-xl-4"></div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-4 col-xl-4 logo">
                <a href="/" class="linkLogo">
                    <img src="/images/logoMannequin.png" alt="logoMannequin">
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 busqueda">
                <form class="form-busqueda">
                    <input type="search" placeholder="Buscar..." aria-label="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>

    <!-- Nav -->

 
    <nav class="navbar navbar-expand-lg color">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 centrado">
    
            <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            mujeres
            </a>
            <div class="dropdown-menu primerDropdown" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/categories">Pantalones</a>
            <a class="dropdown-item" href="/categories">Remeras</a>
            <a class="dropdown-item" href="/categories">Vestidos</a>
            <a class="dropdown-item" href="/categories">Pantalones</a>
            <a class="dropdown-item" href="/categories">Remeras</a>
            <a class="dropdown-item" href="/categories">Vestidos</a>
            </div>
        </li>

            
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            hombres
            </a>
            <div class="dropdown-menu primerDropdown" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/categories">Pantalones</a>
            <a class="dropdown-item" href="/categories">Remeras</a>
            <a class="dropdown-item" href="/categories">Vestidos</a>
            <a class="dropdown-item" href="/categories">Pantalones</a>
            <a class="dropdown-item" href="/categories">Remeras</a>
            <a class="dropdown-item" href="/categories">Vestidos</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                niños
            </a>
            <div class="dropdown-menu primerDropdown" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/categories">Pantalones</a>
            <a class="dropdown-item" href="/categories">Remeras</a>
            <a class="dropdown-item" href="/categories">Vestidos</a>
            <a class="dropdown-item" href="/categories">Pantalones</a>
            <a class="dropdown-item" href="/categories">Remeras</a>
            <a class="dropdown-item" href="/categories">Vestidos</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            sale
            </a>
            <div class="dropdown-menu primerDropdown" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/categories">Pantalones</a>
            <a class="dropdown-item" href="/categories">Remeras</a>
            <a class="dropdown-item" href="/categories">Vestidos</a>
            <a class="dropdown-item" href="/categories">Pantalones</a>
            <a class="dropdown-item" href="/categories">Remeras</a>
            <a class="dropdown-item" href="/categories">Vestidos</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            contacto
            </a>
            <div class="dropdown-menu primerDropdown" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Pantalones</a>
            <a class="dropdown-item" href="#">Remeras</a>
            <a class="dropdown-item" href="#">Vestidos</a>
            <a class="dropdown-item" href="#">Pantalones</a>
            <a class="dropdown-item" href="#">Remeras</a>
            <a class="dropdown-item" href="#">Vestidos</a>
            </div>
        </li>
        </ul>

        <div class="col-menu-icons">
            <a href="/register"><i class="fa fa-user" ></i></a>
            <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>  
        </div>

    </nav>

</header>