<header>
    <div class="container-fluid">
        <div class="row banner-oferta">
            <div class="col-12 texto-oferta">
                <i>$$$ Texto de oferta $$$</i>
            </div>
        </div>
        <div class="row row-logo">
            <div class="col-0 col-sm-0 col-md-0 col-lg-4 col-xl-4"></div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-4 col-xl-4 logo">
                <a class="linkLogo">
                    <img src="/images/logoMannequin.png" alt="logoMannequin">
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 busqueda">
                <form class="form-busqueda">
                    <input type="search" placeholder="Buscar..." aria-label="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <nav>
            <div class="row row-menu">
                <div class="col-11 col-menu">
                    <ul id="menu-principal">
                        <li><a href="#s1" class="titulomenu">Clothing</a>
                            <span id="s1"></span>
                            <ul class="subs">
                                <li><a href="#">Mujer</a>
                                    <ul>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-4">
                                                    <li><a href="#">Vestidos</a></li>
                                                    <li><a href="#">Vestidos</a></li>
                                                    <li><a href="#">Vestidos</a></li>
                                                    <li><a href="#">Vestidos</a></li>
                                                    <li><a href="#">Vestidos</a></li>
                                                    <li><a href="#">Vestidos</a></li>
                                                </div>
                                                <div class="col-4">
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                </div>
                                                <div class="col-4">
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li><a href="#">Hombre</a>
                                    <ul>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-4">
                                                    <li><a href="#">Vestidos</a></li>
                                                    <li><a href="#">Vestidos</a></li>
                                                    <li><a href="#">Vestidos</a></li>
                                                    <li><a href="#">Vestidos</a></li>
                                                    <li><a href="#">Vestidos</a></li>
                                                    <li><a href="#">Vestidos</a></li>
                                                </div>
                                                <div class="col-4">
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                </div>
                                                <div class="col-4">
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                    <li><a href="#">Pantalones</a></li>
                                                    <li><a href="#">Remeras</a></li>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <img src="https://picsum.photos/id/237/100/70" alt="">
                                </li>
                            </ul>
                        </li>

                        <li><a href="#" class="titulomenu">Shoes</a></li>
                        <li><a href="#" class="titulomenu">Accesories</a></li>
                        <li><a href="#" class="titulomenu">New In</a></li>
                        <li><a href="#" class="titulomenu">Sale</a></li>
                    </ul>
                </div>
                <div class="col-1 col-menu-icons">
                    <a href="#"><i class="fa fa-user" ></i></a>
                    <a href="#"><i class="fas fa-shopping-bag"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>  
                </div>
            </div>
        </nav>
    </div>
</header>