<ul>
    <li class="category-title">COMPRAR POR CATEGORÍA
      <ul>
        <li><a href="#"><a href="#">Mujer</a></li>
        <li><a href="#">Hombre</a></li>
        <li><a href="#">Niño</a></li>
        <li><a href="#">Accesorios</a></li>
      </ul>
    </li>
    <li class="category-title">ESTILO
      <ul>
        <li><a href="#">Casual</a></li>
        <li><a href="#">Moderno</a></li>
      </ul>
    </li>
    <li class="category-title">TALLA
      <ul>
        <li><a href="#">Large</a></li>
        <li><a href="#">Medium</a></li>
        <li><a href="#">Small</a></li>
      </ul>
    </li>
</ul>