<div class="col-12 pagination">
  <a href="#">&laquo;</a>
  <% for (var k=1; k<=pagination.pages; k++) { %>
  <a <% if (pagination.page_number == k) {%> class="active"<%} else {""} %> href="/categories/filter/<%= pagination.category %>/<%= pagination.subcategory %>/<%=k%>"> <%= k %></a>
  <% } %>
  <a href="#">&raquo;</a>
</div>

