<div class="col-12 col-sm-6 col-lg-4">
    <section class="product-box">
        <a href="#">
            <figure class="product-box_image">
                <img src="/images/conjunto1.jpg " alt="imagen de producto">
            </figure>
            <article class="product-box_data">
                <p>Conjunto Blanco y Negro</p>
                <p>1000</p>
                <span>10%</span>
                <p>Top</p>
            </article>
        </a>
    </section>
</div>
<div class="col-12 col-sm-6 col-lg-4">
    <section class="product-box">
        <a href="#">
            <figure class="product-box_image">
                <img src="/images/conjunto2.jpg " alt="imagen de producto">
            </figure>
            <article class="product-box_data">
                <p>Conjunto Rojo Flores</p>
                <p>1000</p>
                <span>10%</span>
                <p>Top</p>
            </article>
        </a>
    </section>
</div>
<div class="col-12 col-sm-6 col-lg-4">
    <section class="product-box">
        <a href="#">
            <figure class="product-box_image">
                <img src="/images/conjunto3.jpg " alt="imagen de producto">
            </figure>
            <article class="product-box_data">
                <p>Conjunto Rojo Flores</p>
                <p>1000</p>
                <span>10%</span>
                <p>Top</p>
            </article>
        </a>
    </section>
</div>
<div class="col-12 col-sm-6 col-lg-4">
    <section class="product-box">
        <a href="#">
            <figure class="product-box_image">
                <img src="/images/top4.jpg " alt="imagen de producto">
            </figure>
            <article class="product-box_data">
                <p>Conjunto Rojo Flores</p>
                <p>1000</p>
                <span>10%</span>
                <p>Top</p>
            </article>
        </a>
    </section>
</div>
<div class="col-12 col-sm-6 col-lg-4">
    <section class="product-box">
        <a href="#">
            <figure class="product-box_image">
                <img src="/images/top1.jpg " alt="imagen de producto">
            </figure>
            <article class="product-box_data">
                <p>Conjunto Rojo Flores</p>
                <p>1000</p>
                <span>10%</span>
                <p>Top</p>
            </article>
        </a>
    </section>
</div>
<div class="col-12 col-sm-6 col-lg-4">
    <section class="product-box">
        <a href="#">
            <figure class="product-box_image">
                <img src="/images/top2.jpg " alt="imagen de producto">
            </figure>
            <article class="product-box_data">
                <p>Conjunto Rojo Flores</p>
                <p>1000</p>
                <span>10%</span>
                <p>Top</p>
            </article>
        </a>
    </section>
</div>