<div class="container-fluid generalProfile">

    <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <!--Breadcrum-->
            <ul class="breadcrumb">
                <li><a class="linkMenuProfile" href="/">Home</a></li>
                <li><a class="linkMenuProfile" href="#">Profile</a></li>
            </ul>
        </div>

    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 menuContainerProfile">
            <!--Menu-->

            <div class="d-flex justify-content-center">
                <ul class="">
                    <li class="listaProfile">
                        <i class="fa fa-user"></i><a class="linkMenuProfile" href="#">Mi perfil</a>
                    </li>
                    <li class="listaProfile">
                        <i class="fas fa-shopping-bag"></i><a class="linkMenuProfile" href="#">Mis compras</a>
                    </li>
                    <li class="listaProfile">
                        <i class="fa fa-wallet"></i><a class="linkMenuProfile" href="#">Billetera</a>
                    </li>
                    <li class="listaProfile">
                        <a class="linkMenuProfile" href="#">Cerrar Sesión</a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6 profileContenedorDerecho">

            <!--Form+profile container-->

            <div class="row">

                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 profileSubContainerIzquierdo">
                    <!--Foto-->
                    <div class="fotoProfilContainer">
                        <img class="imgFotoProfile" src="/images/margot.jpg">
                    </div>
                    <form action="/profile" method="POST">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile">
                            <label class="custom-file-label" for="validatedCustomFile">Elige una foto</label>
                        </div>
                    </form>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6r">
                    <!--Form-->

                    <form class="FormProfileContainer" action="/profile" method="POST">
                        <!--put-->

                        <div class="margen">
                            <label for="name">Nombre</label>
                            <input class="casilleroTextoProfile" type="text" id="name" name="name" value="Margot"
                                required>
                        </div>

                        <div class="margen">
                            <label for="lastname">Apellido</label>
                            <input class="casilleroTextoProfile" type="text" id="lastname" name="lastname"
                                value="Robbie" required>
                        </div>

                        <div class="margen">
                            <label for="lastname">Correo electronico</label>
                            <input class="casilleroTextoProfile" type="email" id="email" name="email"
                                value="margot.robbie@gmail.com" required disabled>
                        </div>

                        <div class="margen">
                            <label for="password">Contraseña</label>
                            <input class="casilleroTextoProfile" type="password" id="password" name="password" required>
                        </div>

                        <div>
                            <label for="gender">Género</label>
                            <select class="casilleroTextoProfile">
                                <option selected>Seleccione</option>
                                <option value="1">Femenino</option>
                                <option value="2">Masculino</option>
                                <option value="3">Otro</option>
                            </select>
                        </div>

                        <div class="margen">
                            <label for="name">Dirección</label>
                            <input class="casilleroTextoProfile" type="text" id="street" name="street"
                                placeholder="Calle">
                            <div class="d-flex justify-content-between">
                                <input class="miniTexto" type="text" id="stretNumber" name="stretNumber"
                                    placeholder="Altura">
                                <input class="miniTexto" type="text" id="floor" name="floor" placeholder="Piso">
                                <input class="miniTexto" type="text" id="apartment" name="apartment" placeholder="Dpto">
                                <input class="miniTexto" type="text" id="postalCode" name="postalCode"
                                    placeholder="Codigo Postal">
                            </div>
                            <input class="casilleroTextoProfile" type="text" id="city" name="city" placeholder="Ciudad">
                            <select class="casilleroTextoProfile" id="" placeholder="Pais">
                                <option selected>País</option>
                                <% for (let i=0; i<paises.length; i++) { %>
                                <option value="<%=i%>"><%=paises[i]%></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="botoneraProfile">
                            <input class="sub" type="submit" value="Actualizar">
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>