<div class="container-fluid">
    <div class="row generalRegistro ">
      
            <form action="/register/registro" method="POST" class="registerDetalle"> 
                
                <h2 id="tituloRegister">Registro</h2>

                    <div class="row">
                
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

                                <div class="margen">
                                    <label for="name">Nombre</label>
                                    <input class="casilleroTexto" type="text" id="name" name="name" required>
                                </div> 

                                <div class="margen">
                                    <label for="email">E-mail</label>
                                    <input class="casilleroEmail" type="email" id="email" name="email" required>
                                </div>  

                                <div class="margen">
                                    <label for="password">Contraseña</label>
                                    <input class="casilleroPassword" type="password" id="password" name="password"required>
                                </div>
                                        
                         </div>

                         <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

                                <div class="margen">
                                    <label for="surname">Apellido</label>
                                    <input class="casilleroTexto" type="text" id="surname" name="surname" required>
                                </div> 
                                    
                                <div class="margen">
                                    <label for="email">Repetir E-mail</label>
                                    <input class="casilleroEmail" type="email" id="email" name="email" required>
                                </div>     
                                
                                <div class="margen">
                                    <label for="password">Repetir Contraseña</label>
                                    <input class="casilleroPassword" type="password" id="password" name="password"required>
                                </div>   
                                                          
                        </div>

                                <input type="checkbox" id="legal" name="legal" value="legal">
                                <label for="legal">Terminos y condiciones</label>
                                </div>

                                <div class="botonera">
                                <input class="sub" type="submit" value="Registrarme">
                                </div>

                    </div>
                                
            </form> 

    </div>

</div>