<script>
    function elegirTalle(id){
        if(document.getElementById(id).className == "boton-talle"){
            /* restauro el anterior*/
            var talleAnterior = document.querySelector(".boton-talle-elegido");
            if(talleAnterior){
                talleAnterior.className = "boton-talle"
            }
            /* Actualizo el elegido*/
            document.getElementById(id).className = "boton-talle-elegido";
        }else{
            document.getElementById(id).className = "boton-talle";
        }
        
    }
</script>

<div id="talles">
    <div>
        <% for(let s = 0; s < productsOnSite.sizes.length; s++){%>
        <button class="boton-talle" onclick="elegirTalle('talle<%= productsOnSite.sizes[s].idsizes %>')" id="talle<%= productsOnSite.sizes[s].idsizes %>"><%= productsOnSite.sizes[s].name %></button>
        <%}%>
        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg" >Guia de talles</button>
    </div>
</div>