<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

<body>
  <div class="container-fluid">
    <%- include('./partials/header.ejs') %>
    <div class="contenido">
      <div style="padding: 20px">
        <div style="font-size: 13px;color: #333;line-height: 20px;">
          <h1 class="title">Contáctenos</h1>
          <div class="articleText">
            <div class="contact-text-wrap">
              <p>Hola, bienvenido a Mannequin. Si tiene alguna pregunta, no dude en ponerse en
                contacto con nuestros teléfonos y correo electrónico</p>
              <p>LLÁMENOS +(1) 444-824-5022 (Sólo EEUU &amp; CANADA)</p>
              <p> +(001)-666-444-5022 (Todos los clientes, servicio sólo en castellano)</p>
              <p>Tiempo de trabajo ( Lun. - Dom. De 10:00 AM - 19:00 PM, Hora del Este) </p>
              <p>Si tiene alguna pregunta, por favor escríbanos a support@mannequin.com para recibir asistencia.</p>
            </div>

          </div>
          </section>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>

      <%- include('./partials/scriptBootstrap.ejs') %>

    </div>
  </div>
</body>

</html>