<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-fluid">
        <%- include('./partials/headerCRUD.ejs') %>
      <div class="contenido">
        <div class="row">
          <div class="col-12">
              <img src="/images/otras/ADMIN.svg" width="100%">
          </div>
        </div>
        <%- include('./partials/scriptBootstrap.ejs') %>
      </div>
    </div>
  </body>

</html>
