<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-fluid">
      <%- include('./partials/header.ejs') %>
  
      <section>
      <div class="container">
        <div class="row">
       

         <img class="banner" src="/images/banner.jpg">

         
        </div>

      </div>
    </section>

        <%- include('./partials/footer.ejs') %>
        <%- include('./partials/scriptBootstrap.ejs') %>
      
    </div>
  </body>

</html>
