<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-fluid">
      <%- include('./partials/header.ejs') %>
  
      <div class="container-fluid">

        <h1></h1>

      
        <%- include('./partials/footer.ejs') %>
        <%- include('./partials/scriptBootstrap.ejs') %>
      
    </div>
  </body>

</html>
