<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

<body>
  <div class="container-fluid">
    <%- include('./partials/header.ejs') %>
    <div class="contenido">
      <div style="padding: 20px">
        <div style="font-size: 13px;color: #333;line-height: 20px;">
          <h1 class="title">Pagos</h1>
          <div class="articleText">
            <p style="line-height:24px; font-size:14px;">Aceptamos diferentes métodos de pago seguros y convenientes:
            </p><br>
            <p style="line-height:24px; font-size:14px;"><span class="fb c0">1. Tarjeta de Crédito Vía Paypal: </span>
            </p><br>
            <p style="line-height:24px; font-size:14px;">Tarjeta de Crédito Vía PayPal (Visa, MasterCard, Discover,
              American Express, etc.) Para clientes de Estados Unidos por el momento.</p>
            <br>
            <p style="line-height:24px; font-size:14px;"><span class="fb c0">2. Tarjeta de Crédito: </span></p><br>
            <p style="line-height:24px; font-size:14px;">Los compradores pueden pagar de forma segura con Tarjeta de
              Crédito directamente.</p>
          </div>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>

      <%- include('./partials/scriptBootstrap.ejs') %>

    </div>
  </div>
</body>

</html>