<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

<body>
  <div class="container-fluid">
    <%- include('./partials/header.ejs') %>
    <div class="contenido">
      <div style="padding: 20px">
        <div style="font-size: 13px;color: #333;line-height: 20px;">
          <h1 class= "title">
            POLÍTICA DE PRIVACIDAD
          </h1>
          <p>Esta Declaración de Privacidad explica cómo MANNEKIN SRL recopila, usa y divulga su información personal en
            el funcionamiento de la plataforma de comercio electrónico MANNEKIN SRL .
          </p>
          <h2>
            ¿Qué información recopilamos?
          </h2>
          <p>
            La información personal es información que puede utilizarse para identificarle directa o indirectamente. La
            información personal también incluye información anónima que vinculada a otra información puede ser
            utilizada
            para identificarle directa o indirectamente. La información personal no incluye información que ha sido
            anonimizada o agregada irreversiblemente, de modo que ya no nos permite identificarle, ya sea en combinación
            con otra información o de otra forma.

            <br><br>
            Sólo recopilaremos y utilizaremos la información personal que sea necesaria para cumplir con nuestras
            obligaciones legales y que nos ayude a administrar nuestro negocio y prestarle los servicios que solicite.
            <br><br>
            Recopilamos su información cuando se registra en nuestro sitio web, cuando realiza un pedido, se suscribe a
            nuestro boletín o responde a una encuesta.
            <br><br>
            Cuando realiza un pedido o se registra en nuestro sitio web se le puede solicitar que introduzca la
            siguiente
            información: su nombre, dirección de correo electrónico, dirección postal y número de teléfono. Sin embargo,
            también puede visitar nuestro sitio anónimamente.
          </p>
          <h2>
            ¿Para qué utilizamos su información?
          </h2>
          <p>
            Utilizamos la información que nos proporciona para los fines específicos para los que proporciona la
            información, tal y como se haya indicado en el momento de la recopilación, y según lo permitido por la ley.
            La
            información que recopilamos de usted puede ser utilizada de las siguientes maneras:<br><br>

            ● Para personalizar su experiencia (su información nos ayuda a responder mejor a sus necesidades
            individuales)
            <br><br>
            ● Para mejorar nuestro sitio web y su experiencia de compra (nos esforzamos continuamos en mejorar los
            productos ofrecidos en nuestro sitio web en función de la información y los comentarios que recibimos de
            usted) <br><br>
            ● Para mejorar el servicio al cliente (su información nos ayuda a responder de manera más efectiva a sus
            solicitudes de servicio al cliente y sus necesidades de soporte)<br><br>
            ● Para procesar transacciones que incluyen la ejecución de sus pagos y la entrega de los productos
            adquiridos
            o los servicios solicitados. Para administrar concursos, promociones especiales, encuestas u otras
            actividades
            del sitio web. <br><br>
            ● Para enviar correos electrónicos periódicos. La dirección de correo electrónico que proporciona para el
            procesamiento de pedidos puede ser utilizada para enviarle información importante y actualizaciones
            relacionadas con su pedido, además de para recibir noticias ocasionales de la sociedad, actualizaciones,
            información relacionada con productos o servicios, etc.
          </p>
          <h2>
            Base Legal para el Procesamiento de Información Personal
          </h2>
          <p>
            Si se encuentra en el Espacio Económico Europeo ("EEE"), nuestro procesamiento de su información personal se
            basará en lo siguiente: Si obtenemos su consentimiento para procesar su información personal, dicho
            procesamiento se llevará a cabo sobre la base del Artículo 6 (1) lit. (a) del Reglamento General de
            Protección
            de Datos (UE) 2016/679 ("RGPD"). Si el procesamiento de su información personal es necesario para la
            ejecución
            de un contrato entre usted y nosotros o para tomar medidas precontractuales a su solicitud, dicho
            procesamiento se basará en el Artículo 6 (1) lit. (b) del RGPD. Cuando el procesamiento sea necesario para
            que
            cumplamos con una obligación legal, procesaremos su información personal en base al Artículo 6 (1) lit. (c)
            del RGPD, y cuando el procesamiento sea necesario para los propósitos de nuestros intereses legítimos, dicho
            procesamiento se realizará de conformidad con el Artículo 6 (1) lit. (f) del RGPD.<br><br>

            Tenga en cuenta que cuando haya dado su consentimiento al procesamiento de su información personal puede
            usted
            retirar dicho consentimiento en cualquier momento, por ejemplo, enviando un correo electrónico a <a
              href="mailto:support@MANNEKIN SRL.com" style="text-decoration: underline;color: blue;">Support@MANNEKIN
              SRL.com</a>. La retirada del consentimiento no afectará la legalidad de ningún procesamiento previamente
            realizado en base a su consentimiento.
          </p>
          <h2>
            Sus derechos
          </h2>
          <p>
            Tomamos medidas razonables para garantizar que su información personal sea precisa, completa y actualizada.
            Tiene derecho a acceder, corregir o eliminar la información personal que recopilamos. También tiene derecho
            a
            restringir u oponerse, en cualquier momento, a que se continúe procesando su información personal. Tiene
            derecho a recibir su información personal en un formato estructurado y estándar y, cuando sea técnicamente
            posible, tiene también el derecho a que su información personal sea transmitida directamente a un tercero.
            Puede presentar una queja ante la autoridad competente de protección de datos en relación al procesamiento
            de
            su información personal.<br><br>
            Para proteger la privacidad y la seguridad de su información personal, podemos solicitarle información que
            nos
            permita confirmar su identidad y su derecho a acceder a dicha información, así como a buscar y
            proporcionarle
            la información personal que mantenemos. En algunos casos, las leyes o reglamentaciones vigentes nos permiten
            o
            exigen que rechacemos proporcionar o eliminar parte o la totalidad de la información personal que
            mantenemos.
            <br><br>
            Puede enviarnos un correo electrónico a Support@MANNEKIN SRL.com para ejercer sus derechos. Responderemos a
            su
            solicitud dentro de un tiempo razonable. Tomaremos todas las medidas razonables para garantizar que sus
            datos
            personales son correctos y están actualizados.
          </p>
          <h2>
            ¿Cómo protegemos su información?
          </h2>
          <p>
            Usted es responsable de la seguridad de su propio nombre de usuario y contraseña en MANNEKIN SRL.
            Recomendamos
            elegir una contraseña segura y cambiarla con frecuencia. Por favor, no utilice los mismos datos de registro
            (correo electrónico y contraseña) en varios sitios web.<br>
            <br>
            Dicho esto, nosotros implementamos una variedad de medidas de seguridad que incluyen el uso de un servidor
            seguro. Toda la información sensible/ crediticia suministrada se transmite a través de la tecnología Secure
            Socket Layer (SSL) y luego se encripta en nuestra base de datos de proveedores de pasarela de pago para que
            puedan acceder las personas autorizadas con derechos especiales de acceso a dichos sistemas, exigiéndoseles
            mantener la confidencialidad de la información. Después de una compra, su información privada (tarjetas de
            crédito, números de seguridad social, financieros, etc.) no se almacenará en nuestros servidores. <br><br>
            Nuestros servidores y nuestro sitio web se someten diariamente a escaneos de seguridad y son verificados en
            su
            integridad externamente por McAfee Secure de Symantec a fin de que esté protegido cuando opere en línea.
          </p>
          <h2>
            ¿Usamos cookies?
          </h2>
          <p>
            Sí. Las cookies son pequeños archivos que un sitio web o su proveedor de servicios transfiere al disco duro
            de
            su ordenador a través de su navegador web (si lo ha permitido a través de su configuración). Esto permite a
            los sitios web o a los sistemas de proveedores de servicios reconocer su navegador y capturar y recordar
            cierta información. <br><br>
            Usamos cookies para que nos ayuden a recordar y procesar los artículos en su carrito de compras, aprender y
            guardar sus preferencias de visita, y recopilar datos agregados sobre el tráfico y las interacciones del
            sitio, a fin de poder ofrecerle una mejor experiencia en el sitio web y mejores herramientas en el futuro.
            <br><br>
            Podemos contratar proveedores de servicios externos para que nos ayuden a comprender mejor a los visitantes
            de
            nuestro sitio web. No obstante, estos proveedores de servicios no tienen permitido utilizar la información
            recopilada en nuestro nombre, excepto para ayudarnos a dirigir y mejorar nuestro negocio. Usamos, por
            ejemplo,
            Google Analytics, un servicio de análisis web proporcionado por Google, Inc. ("Google") para ayudarnos a
            comprender mejor cómo los usuarios interactúan con nuestro sitio web. Google Analytics utiliza cookies para
            obtener información sobre el uso de nuestro sitio web. Esta información se utiliza para elaborar informes y
            crear servicios que nos ayudan a mejorar nuestro sitio web y los servicios asociados al mismo. Los informes
            divulgan las tendencias del sitio web sin identificar a los visitantes individuales. La información generada
            por la cookie de Google sobre su uso de nuestro sitio web (incluida su dirección IP) puede ser transmitida y
            almacenada por Google en servidores en los Estados Unidos. Google también puede transferir esta información
            a
            terceros cuando así lo exija la ley, o cuando dichos terceros procesen la información en nombre de Google.
            Google no asociará su dirección IP con ningún otro dato en poder de Google.
            <br><br>
            En algunas páginas de nuestro sitio web, los terceros que proveen aplicaciones a través de nuestro sitio web
            pueden establecer sus propias cookies para proporcionar servicios, rastrear el éxito de sus aplicaciones o
            personalizar las aplicaciones para usted. Por ejemplo, cuando usted comparte contenido usando un botón para
            compartir en redes sociales como Facebook o Twitter, la red social que ha creado el botón registrará que ha
            hecho esto. Debido al modo en qué funcionan las cookies, no podemos acceder a estas cookies, así como los
            terceros no pueden acceder a los datos en las cookies que utilizamos nosotros.<br><br>
            Si lo prefiere, puede elegir que su ordenador le advierta cada vez que se envía una cookie, o puede optar
            también por desactivar todas las cookies a través de la configuración de su navegador. Como la mayoría de
            sitios web, si desactiva las cookies, es posible que algunos de nuestros servicios no funcionen
            correctamente.
            Sin embargo, aún podrá realizar pedidos contactando a Servicio al Cliente en <a
              href="mailto:support@MANNEKIN SRL.com" style="text-decoration: underline;color: blue;">Support@MANNEKIN
              SRL.com</a>.
          </p>
          <h2>
            ¿Revelamos información a terceros?
          </h2>
          <p>
            No vendemos, comercializamos ni transferimos a terceros su información personal. Esto no incluye a terceros
            de
            confianza que nos ayudan a operar nuestro sitio web, llevar a cabo nuestro negocio, ejecutar pagos, entregar
            productos adquiridos o servicios, enviarle información o actualizaciones u ofrecerle servicios de otro modo,
            siempre que dichas partes acuerden mantener esta información confidencial. También podemos divulgar su
            información cuando consideremos que la divulgación es apropiada para cumplir con la ley, hacer cumplir las
            políticas de nuestro sitio web o proteger nuestros derechos o los derechos de otros, propiedad o seguridad.
          </p>
          <h2>
            ¿Cuánto tiempo conservamos su información?
          </h2>
          <p>
            Retendremos su información personal durante el tiempo que sea necesario para cumplir con los fines descritos
            en esta Política de Privacidad, a menos que se requiera o permita un período de retención más largo por
            razones fiscales o de contabilidad o por otras leyes aplicables.
          </p>

          <h2>
            Enlaces de terceros
          </h2>
          <p>
            Ocasionalmente, a nuestra discreción, podemos incluir u ofrecer productos o servicios de terceros en nuestro
            sitio web. Estos sitios web de terceros tienen políticas de privacidad separadas e independientes. Por lo
            tanto, no tenemos ninguna responsabilidad por el contenido y las actividades de estos sitios web vinculados.
            No obstante, nos esforzamos por proteger la integridad de nuestro sitio web y agradecemos cualquier
            comentario
            sobre estos sitios web.
          </p>

          <h2>
            Términos y Condiciones
          </h2>
          <p>
            Por favor, visite también nuestra sección de Términos y Condiciones que establece el uso, los descargos y
            las
            limitaciones de responsabilidad que rigen el uso de nuestro sitio web.
          </p>

          <h2>
            Cambios en Nuestra Política de Privacidad
          </h2>
          <p>
            Si decidimos cambiar nuestra Política de Privacidad publicaremos esos cambios en esta página y/o
            actualizaremos la fecha de modificación de la Política de Privacidad.
          </p>

          <h2>
            Contáctenos
          </h2>
          <p>
            Si desea ejercitar cualquiera de sus derechos según lo establecido anteriormente, o si tiene una pregunta o
            una queja sobre esta política, o sobre la forma en que se procesa su información personal, póngase en
            contacto
            con nosotros por correo electrónico: Support@MANNEKIN SRL.com.

          </p>
          <p>Representante de GDPR en la UE<br>
            Juan Pérez<br>
            Avenida Siempre Viva 123 | 01101 Massachusetts / Estados Unidos de Norteamérica<br>
            Teléfono + 49 (0) 30-88921304<br>
          </p>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>

      <%- include('./partials/scriptBootstrap.ejs') %>

    </div>
  </div>
</body>

</html>