<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

<body>
    <div class="container-fluid">
        <%- include('./partials/header.ejs') %>
        <div class="contenido">
            <div style="padding: 20px">
                <div style="font-size: 13px;color: #333;line-height: 20px;">
                    <h1 class="title">Política de Devolución</h1>
                    <div class="articleText">
                        <div class="contact-text-wrap">
                            <p>Hola, les informamos que Mannequin está opernando como siempre. Debido al
                                COVID-19 / Coronavirus, para los pedidos pagados desde el 1 de febrero de 2020, hemos
                                extendido las devoluciones a 60 días después de recibir el pedido.</p>
                            <p>En Mannequin, la satisfacción del cliente es siempre nuestra mayor prioridad.<br>
                                Nuestros dedicados equipos de Control de Calidad y Garantía de Calidad
                                inspeccionarán sus artículos antes de ser enviados. Garantizamos la calidad de nuestros
                                productos. Sin embargo, será necesario que
                                compruebe cuidadosa y detenidamente su talla antes de comprar. Por favor, consulte las
                                tablas de tallas
                                en la página del producto.<br><br>
                                Si no estuviera satisfecha/o con los artículos que recibió, podremos fácilmente
                                tramitarle un cambio o una devolución. ¡Estamos aquí para ayudar! ¡Siéntase libre de
                                enviarnos un ticket si tuviese cualquier incidencia con su pedido!</p>
                            <p>A menos que una de las excepciones listadas a continuación fuera de aplicación, puede
                                cancelar su pedido sin proporcionar ningún motivo y sin necesidad de pagar ninguna
                                penalización, dentro de los 14 días siguientes desde la fecha en la que usted o una
                                tercera persona indicada por usted reciba
                                los artículos comprados. Deberá informarnos de su decisión de cancelar su pedido de
                                acuerdo a las instrucciones y formularios disponibles en nuestro
                                mail.
                                Para cumplir con la fecha límite de cancelación, es suficiente con que nos lo comunique
                                antes de que hayan transcurrido los 14 días del periodo de cancelación. Para información
                                adicional, contacte con nuestro Servicio de Atención al Cliente en el Centro de Soporte.
                                <br><br>
                                Le reembolsaremos todos los pagos recibidos de su parte para los artículos comprados y
                                también los gastos de envío para el tipo de envío más barato que ofrecemos. El reembolso
                                se realizará en menos de 14 días desde la fecha en la que nos proporcione evidencia de
                                haber devuelto los artículos.
                                <br><br>
                                Tenga en cuenta que deberá enviar de vuelta los artículos de acuerdo con las
                                instrucciones de nuestro Centro de Soporte en no más de 14 días desde la fecha en la que
                                nos comunicó la cancelación. Deberá hacerse cargo de los costes directos de la
                                devolución de esos artículos. Será responsable si el valor de los artículos
                                devueltos disminuyera debido a su manipulación (excepto en los casos en los que fuese
                                necesario para determinar la naturaleza,
                                características y funcionamiento de los productos).
                                <br><br>
                                Excepciones - el derecho de cancelación no se aplica en
                                los siguientes casos:
                            <p>Tiempo de trabajo ( Lun. - Dom. De 10:00 AM - 19:00 PM, Hora del Este) </p>

                            <p>Si ha recibido un artículo defectuoso o dañado, la talla incorrecta o el producto
                                erróneo, contáctenos a nuestro mail
                                en menos de 30 días desde la fecha de recepción del artículo. Tras la devolución del
                                producto a la dirección facilitada, le enviaremos un nuevo artículo gratis (le
                                reembolsaremos los gastos de envío de la devolución), o podrá elegir recibir un
                                reembolso total.</p>
                        </div>

                    </div>
                </div>
            </div>
            <%- include('./partials/footer.ejs') %>

            <%- include('./partials/scriptBootstrap.ejs') %>

        </div>
    </div>
</body>

</html>