
.miniVistaDetalleProducto{
    width: 1%;
    margin-left: 0px;
   
 
}

.VistaCentralDetalleProducto{
    width: 50%;
    height: 70%;    
}

.rightSideDetalleProducto{
    width: 47%;
    margin-right: 0px;    
}

.row{
    width: 100%;
    margin:0px;

}

.products-wrapperAle{   
    justify-content: center;
   
   
}

.left-column{}

#fotoDetalleProduct{
    margin-top: 10px;
    position: relative;
    width: 100%;
    margin: 0px;
    
}


.miniImgDetalleProduct{
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;

}

.ImgDetalleProduct{
    position: relative;
    justify-content: center;

}

.selector-color-detalle-producto{

    position: relative;
}

.detalle-item-prodcuto{
    position: relative;;
}


.paleta-colores-descripccion{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.03);
}

.foto-item-detalle-producto{
    width: 100%;
    display: flex;
    justify-content: center;
  
}

.talles-detalle-prducto{
    margin-top: 20px;
}

.iconos-footer-detalle-producto{
    width: 500%;
    display: block;
    margin: 0px;
  }

.redes-detalle-producto img {
    margin-left: 5px;
    width:10%;
    margin-top: 30px ;
  }
  .size-guide{
      margin-top: 10px;
      margin-bottom: 0px;
      font-size: 16px;
  }

  .tituloArticulos-detalle-producto{
    display: inline-flex;
    flex-wrap: wrap;
    padding:12px;
    /* width: 100%; */
    color: black;
    font-size: 15px;
    -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.03);
}

.heart{
    display: inline;
}

.botones-fav-del-detalle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.descripccion{
    border: 1px solid black;
}
/*@media (max-width: 460px) {

    .detalle{
      display:flex;
      width: 33%;
    }
  
    @media (max-width: 320px) {
    
        .detalle{
            display:flex;
            width: 33%;
          }
  
          @media (max-width: 768px) {

            .detalle{
              display:flex;
              width: 33%;
            }
        }*/