.general {
    margin: 3% 0;
}

.columnasEnd{
    display: flex;
    justify-content: flex-end;    
}

#tituloRegister {
    color: black;
    text-align: center;
    font-size:25px;
}

.margen {
    margin: 15px 0 15px 0;
}

.margen a {
    text-decoration: underline;
    color:black;
}

.margen a p{
     line-height: 30px;
}

.margen a:link, .margen a:visited {
   color:black;
}

.register {
    max-width: 350px;
    background-color: lightgray;
    width:100%;
    height:auto;
    padding:30px;
    font-size:15px;
    border-radius: 15px;
}

.casilleroTexto, .casilleroEmail , .casilleroPassword {
    width:100%;
    height:30px;
    border:none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(122,122,122,1);
  }

input[type=submit] {
    width:100%;
    font-display:inline-block;
    margin:10px 0;
    padding: 16px 0;
    text-decoration: none;
    border:none;
    box-shadow: 0px 0px 3px 0px rgba(122,122,122,1);
    border-radius: 6px;
    background-color: white;
        
}


input[type=submit]:hover {
    background-color: black;
    color:white;        
}

.botonera{
    text-align:center;
    border: none;
}

input[type=email]:focus, input[type=password]:focus {
    background-color: grey;
}

/* Boton Facebook */

.buttonFacebook:link , .buttonFacebook:visited {
    background-color: #3b5998;
    color:white;
    display: inline-block;
    margin: 5px 0;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    text-decoration: none;
    box-shadow: 0px 0px 3px 0px rgba(122,122,122,1);
    border-radius: 6px;
}

.buttonFacebook:hover, ..buttonRegistroForm:hover {
    color:white;
    background-color: black;
}

.buttonFacebook i {
  margin-right:10px;
}

.buttonRegistroForm:link,.buttonRegistroForm:visited {
    background-color: white;
    color:black;
    display: inline-block;
    margin: 5px 0;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    text-decoration: none;
    box-shadow: 0px 0px 3px 0px rgba(122,122,122,1);
    border-radius: 6px;
}

/*FORMULARIO REGISTRO DETALLES*/

.registerDetalle {
    max-width: 500px;
    background-color: lightgray;
    width:100%;
    padding:30px;
    font-size:15px;
    border-radius: 15px;
}

.generalRegistro {
    margin: 3% 0;
    display: flex;
    justify-content: center; 

}

/* MEDIA */

@media (max-width: 460px){ 

    .columnasEnd{
        display: flex;
        margin-bottom: 25px;
        justify-content: center;   
         
    }
}