
@import url("./breadcrumb.css");
@import url("./pagination.css");
@import url("./dropdown.css");
@import url("./navCategories.css");
@import url("./productsWrapper.css");
@import "/stylesheets/carrito.css";


body .container-fluid, .row {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

