@import url("./categories.css");
@import url("./carrito.css");
@import url("./styleIndex.css");
@import url("./styleNav.css");
@import url("./styleGaleria.css");
@import url("./styleFooter.css");
@import url("./styleForm.css");
@import url("./style.css");
@import url("./cargaArticulo.css");

body .container-fluid, .row {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  font: 14px;
  font-family: Arial, Helvetica, sans-serif
}



