/*GALERIA*/

.col-md-3{
    
display: inline-block;
margin-left:-4px;
}
.col-md-3 img{
 width:100%;
height:auto;
}
body .carousel-indicators li{
 background-color:black;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
 background-color:black;
}
body .no-padding{
padding-left: 0;
padding-right: 0;
}
                                            
.precioItem {
color: #3A3A3A;
font-size: 20px;
text-align: center;
}
                                        
.descripcionItem {
font-size: 17px;
line-height: 0px;
text-align: center;
}